@{
    ViewBag.Title = "LecturerView";
}

@*<h2>LecturerView</h2>*@
<h2><a>Module 1</a></h2>
<br/>
<br/>
<table align="center" class="table table-hover">
    <thead>

        <tr>
            <th>Student Name</th>
            <th>Grade</th>        
        </tr>
        </thead>
    <tbody>
        <tr>
            <td>Andrew Abc</td>
            <td>A</td>
        </tr>
        <tr>
            <td>Andrew Abc</td>
            <td>A</td>
        </tr>
        <tr>
            <td>Andrew Abc</td>
            <td>A</td>
        </tr>
    </tbody>
</table>

