@model Dictionary<string, string>

@section scripts{
  <style type="text/css">
      button {
        width: 100px;
        height: 50px;
      }
  </style>
}
<h2><a>@ViewBag.courseName</a></h2>

<table align="center" class="table table-hover">
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Grade</th>
    </tr>
  </thead>
  <tbody>
    @using (Html.BeginForm("UpdateGrade", "ReportCard"))
    {
      string courseName = ViewBag.courseName;
      foreach (var item in Model)
      {
        <tr>
          <td>@item.Key</td>
          <td><input type="text" value="@item.Value" name="grade" /></td>
        </tr>
      }
      <tr>
        <td colspan="2" align="center">
          <input type="hidden" name="courseName" value="@courseName" />
          <input type="submit" value="Update" id="update">
        </td>
      </tr>
    }
  </tbody>
</table>
