@model DatabaseModel.cours

@{
    ViewBag.Title = "LecturerView";
}
<h2><a>@Model.name</a></h2>
<br/>
<br/>
<table align="center" class="table table-hover">
    <thead>

        <tr>
            <th>Student Name</th>
            <th>Grade</th>        
        </tr>
        </thead>
    <tbody>
      @foreach (var grade in Model.grades_database)
      {
        <tr>
          <td>@grade.user.username</td>
          <td>@grade.grade</td>
        </tr>
      }
        @*<tr>
            <td>Andrew Abc</td>
            <td>A</td>
        </tr>
        <tr>
            <td>Andrew Abc</td>
            <td>A</td>
        </tr>
        <tr>
            <td>Andrew Abc</td>
            <td>A</td>
        </tr>*@
    </tbody>
</table>

