@model Dictionary<string, string>
<br/>
<br/>
<div class="row">
    <input type="button" value="View Chat History" style="float:right"/>
</div>
<br/>
<table align="center" class="table table-hover">
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Grade</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>@item.Key</td>
        <td>@item.Value</td>
      </tr>
    }
  </tbody>
</table>