@model Dictionary<string, string>
<br/>
<br/>
<div class="row">
    <a href="~/Views/CourseCatalogue/courseHistory.cshtml">  <input type="button" value="View Course History" style="float:right" /></a>
</div>
<br/>
<table align="center" class="table table-hover">
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Grade</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>@item.Key</td>
        <td>@item.Value</td>
      </tr>
    }
  </tbody>
</table>