
@{
    ViewBag.Title = "StudentView";
}

<br />
<br />
<table align="center" class="table table-hover">
    <thead>

        <tr>
            <th>Course Name</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>English</td>
            <td>F</td>
        </tr>
        <tr>
            <td>Maths</td>
            <td>F</td>
        </tr>
        <tr>
            <td>French/Spanish</td>
            <td>A</td>
        </tr>
</table>