
@{
    ViewBag.Title = "confirmationPage";
}
<br/>
<br/>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-lg-12">
        <p id="p1">Thank you for your request!</p>
        <p id="p2"> Administration are reviewing your submission<br/>
        and will contact you about the result later this week</p>
    </div>
</div>

@Styles.Render("~/Content/confirmation.css")