<h2 id="courseInfotitle">Course Information</h2>
@using (Html.BeginForm("NewCourse", "CourseCatalogue"))
{
  <table id="tableInfo" class="table table-bordered table-hover" align="center">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Course Outline</th>
          <th>Lecturer</th>
        <th>Course Start Date</th>
        <th>Course End Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" name="name" placeholder="course name.." autofocus/></td>
        <td><textarea name="outline" rows="4" cols="40" placeholder="course outline.."></textarea></td>
          <td>
              <select>
                  <option value="johnsmith">Johnsmith</option>
                  <option value="francel">Francel</option>
                  <option value="gael">Gael</option>
              
              </select>

          </td>
        <td><input type="date" name="startdate"  placeholder="start date .."/></td>
        <td><input type="date" name="enddate" placeholder="end date .."/></td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-lg-12">
      <a><input type="submit" value="Add course" id="buttonrow" /></a>
    </div>
  </div>
}
@Styles.Render("~/Content/CourseInfo.css")