
@{
    ViewBag.Title = "courseHistory";
}

<h2 id="courseInfotitle">Course History</h2>
<br />
<br />
<table id="tableInfo" class="table table-bordered table-hover" align="center">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Grade</th>
            <th>Finished Date</th>
           
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>

        </tr>

    </tbody>
</table>

@Styles.Render("~/Content/CourseInfo.css")