@Model 
@*BAProjectEntities*@

@{
    ViewBag.Title = "Index";
}

@section scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            $('.calendarholder').fullCalendar();

           // $('#Calendar').fullCalendar({
           //     editable: true,
           //     firstDay: 1,
           //     year: y,
           //     month: m,
           //     date: d,
           //     header: {
           //         left: 'title',
           //         right: 'prev,next today,agendaDay,agendaWeek,month'
           //     },
           //     defaultView: 'agendaWeek',
           //     columnFormat: {
           //         month: 'ddd',
           //         week: 'ddd d/M',
           //         day: 'dddd d/M'
           //     },
           //     minTime: 7,
           //     maxTime: 22,
           //     editable: true,
           //     droppable: false,
           //     slotMinutes: 15,
           //     disableResizing: false,
           //     events: [
           //        {
           //            "title": "Calendar Test",
           //            "start": "2014-06-01 18:30:00",
           //            "end": "2014-06-01 19:00:00",
           //            "allDay": false
           //        },
           //        {
           //            "title": "Calendar Test 1",
           //            "start": "2014-06-02 18:30:00",
           //            "end": "2014-06-02 19:00:00",
           //            "allDay": false
           //        },
           //        {
           //            "title": "Calendar Test 2",
           //            "start": "2014-06-03 18:30:00",
           //            "end": "2014-06-03 19:00:00",
           //            "allDay": false
           //        }
           //     ]
           //,
            // });
            //alert("iam working");
        });
    </script>
    
    }

<div id="relativelayout">
    <div id="profilepicture">
        <img src="~/Images/placeholderimage.png" height="200"
             width="200" />
    </div>
  @using (Html.BeginForm("UpdateData", "CourseCatalogue"))
  {
    <div id="contact">
        <table cellspacing="20">
            <tr> <th colspan="2" style="text-align:center; font-size:larger;">Contact Details</th></tr>
            <tr>
                <td>Name:</td>
                <td><input type="text" name="name" /></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" name="email" /></td>
            </tr>
            <tr>
                <td>Address:</td>
          <td><input type="text" name="addressline1" /></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="text" name="addressline2" /></td>
        </tr>
        <tr>
          <td>City:</td>
          <td><input type="text" name="city" /></td>
            </tr>
            <tr>
                <td>Postcode:</td>
                <td><input type="text" name="postcode" /></td>
            </tr>
            <tr>
                <td>Mobile:</td>
          <td><input type="text" name="phone" /></td>
            </tr>
        </table>
    
    </div>
    <div id="description">
        <table>
        <tr><th colspan="2" style="text-align:center; font-size:larger;">Description</th></tr>
            <tr>
                <td>
                <textarea rows="10" cols="50" name="desc"></textarea></td>
            </tr>
        </table> </div>
    <div id="Calendar">
 
    </div>
    <div class="calendarholder"></div>
    <br />
    <br />
  }
</div>
 