
@{
    ViewBag.Title = "Index";
}

<br/><br/>
@*<center>
    <div class="btn-group">
        <button type="button" class="btn btn-primary">View Profile</button>
        <button type="button" class="btn btn-primary">Course Catalogue</button>
        <button type="button" class="btn btn-primary">Help</button>
        <button type="button" class="btn btn-primary">Logout</button>
    </div>

</center>*@
<br/>
<br/>

<div id="relativelayout">
    <div id="profilepicture">
        <img src="~/Images/placeholderimage.png" height="200"
             width="200" />
    </div>
    <div id="contact">Contact Details</div>
    <div id="description">Description</div>
    <div id="Calendar">Calendar</div>
    <br />
    <br />
</div>