table {
/*border:2px groove gray;*/
/*align-content:center;*/
  /*border-spacing: 10px;
    border-collapse: separate;*/

}
/*table td{
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;


}*/
