
#relativelayout {
    position:relative;
   height:800px;
   overflow:auto;
}


#profilepicture {
    position:absolute;  
   left:300px;
   top:50px;
   /*float:left;*/
}

#contact 
{
    position:absolute;
    /*float:right;*/
    right:50px;
    height:200px;
    width:400px;
       top:50px;
    /*background-color:blue;*/
/*box-shadow:10px 10px 5px #808080;*/
border-radius:10px;
}


#description 
{
    /*background-color:gray;*/
    position:absolute;
    height:300px;
    /*float:left;*/
    width:300px;
    top:300px;
    left:50px;
/*border-radius:10px;*/
    
}


#Calendar {
     /*background-color:olive;*/
     /*border:2px groove black;*/
     position:absolute;
     /*float:right;*/
       top:300px;
     right:10px;
     /*height:500px;*/
    width:500px;
/*border-radius:10px;*/

}



#contactDetails
{
    width:100%;
}

#contactDetails td:first-child
{
    width:20%;
}

#contactDetails tr td:last-child{

    width:80%;
    background-color:red;
}

#update {

    position:relative;
    top:500px;
    left:400px;
}
