@using System.Collections.Generic;
@Styles.Render(@"~\Content\dropDownMenu.css")

@{ string user = Request.Cookies["user"].Value;
 int id;
 using (var context = new DatabaseModel.BAProjectEntities())
 {
     id = context.users.FirstOrDefault(u => u.username.Equals(user)).users_id;
 }
 if (id != 2)
 {
    
     BA_Project.Models.DatabaseReader db = new BA_Project.Models.DatabaseReader();

     List<DatabaseModel.cours> courses = db.GetAllCourses();
    

    <div class="dropDownDiv">
        <ul class="dropDownContainer" style="list-style-type: none">
            @foreach (DatabaseModel.cours course in courses)
            {

                <li class="dropDownOptions"> <a href="~/ReportCard/LecturerView/@course.course_id.ToString()"> @course.name </a></li>
            }
        </ul>
    </div>
}
}